/* General styles for all screens */
/* Root Element */
:root {
    --primary-color: #3D5B16;
    --secondary-color: #FFF;
    --accent-color: #17475C;
    --button-color: #89a06a;
    --border-color: #527B1E;
    --text-color: #A0B883;
}

/* Body */
body {
    background-color: var(--secondary-color);
}

h2 {
    font-size: 0px;

}

h1.error {
    font-size: 0px;
}

body.page1 {
    background-image: url("Images/mainpageimg.png");

}



/* Navigation /Underline and bold nav menu to specific pages/ */
.primary-nav {
    color: var(--secondary-color);
}

.secondary-nav {
    color: var(--primary-color);
}


nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    font-weight: 570;
}

/* Heading 1 */
h1 {
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 25.28px;
    margin-top: 140px;
    margin-left: 0;
}






/* Language switch button */
.switch {
    position: absolute;
    margin-left: 1320px;
    margin-top: -62px;
}

.switch>span {
    position: absolute;
    top: 15px;
    text-align: center;
    font-family: Century Gothic;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 85%;
    letter-spacing: 0.2px;
}


/* Places */
.places {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 540px;
    margin-bottom: 80px;
}

/* Image Container */
.image-container {
    width: 350px;
    height: 580px;
    margin: 20px;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Description */
.description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
}

.description p {
    margin-top: 10px;
    color: var(--accent-color);
    font-family: Century Gothic;
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.4px;
}

.description button {
    margin-top: 10px;
}


.reviews-title h1 {
    color: var(--primary-color);
    text-align: left;
    font-family: Century Gothic;
    line-height: 150%;
    letter-spacing: -0.968px;
    margin-left: 87px;
    margin-bottom: -43px;
    margin-top: 250px;
}





/* Media queries */
/* For desktop screens and smaller devices */
@media only screen and (max-width: 1200px) {

    body {
        background-image: url("Images/mainpageimg.png");

    }

    .image-container {
        width: 300px;
        height: 450px;
    }

    .reviews-title h1 {
        font-size: 36px;
        margin-left: 50px;
    }


    .reviews-title h1 {
        color: var(--primary-color);
        text-align: left;
        font-family: Century Gothic;
    }

}

/* For smaller devices like tablets */
@media only screen and (max-width: 768px) {

    body {
        width: 100%;
        height: 200px;
        background-image: url("Images/mobilemain.png");
        background-color: #FCFFF7;

    }

    body.bodyerror h1 {
        display: block;
    }

    .bodyerror {
        background-image: url("Images/404mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;
        background-color: var(--secondary-color);
        margin: 0;
        padding: 0;
    }

    /* Burger menu styles */
    .burger-menu {
        display: none;
        cursor: pointer;
        background-color: transparent;
        padding: 10px;
        border-radius: 5px;
        position: absolute;

        top: 20px;
        right: 20px;
    }




    .bar1 {
        width: 25px;
        height: 3px;
        background-color: var(--primary-color);
        margin: 6px 0;
        transition: 0.4s;
    }



    .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
    }



    body.bodyerror h1 {

        width: 433px;
        height: 50px;
        margin-top: -600px;
        flex-shrink: 0;
        color: #FFF;
        text-align: center;
        font-family: Century Gothic;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 40px;

    }


    .burger-menu {
        display: block;
    }

    .primary-nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: var(--primary-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .secondary-nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: var(--primary-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


    .primary-nav ul.active {
        display: flex;
    }

    .secondary-nav ul.active {
        display: flex;
    }

    .primary-nav li {
        padding: 15px;
        text-align: center;
        width: 100%;
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
    }

    .secondary-nav li {
        padding: 15px;
        text-align: center;
        width: 100%;
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
    }








    .logo {
        width: 110px;
        height: 28px;
        align-items: center;
        justify-content: center;
        margin-left: 175px;
    }


    h1 {
        width: 387px;
        height: 24px;
        flex-shrink: 0;
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 5.85px;
        margin-left: 65px;
        margin-top: 230px;
    }

    h2 {
        width: 387px;
        height: 83px;
        flex-shrink: 0;
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 80px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 6.3px;
        margin-left: 60px;
        margin-top: -10px;
    }

    .switch {
        margin-left: 20px;
        margin-top: -200px;
    }


    .image-container {
        width: 340px;
        height: 570px;
        margin-top: 210px;
    }

    .description {
        position: static;
        padding: 25px;
        margin-top: -60px;
    }

    .description p {
        font-size: 32px;
    }

    .reviews-title h1 {
        font-size: 29px;
        margin-left: 68px;
        margin-top: 190px;
        margin-bottom: -80px;
    }

    /* Reviews Container */
    .container {
        display: flex;
        align-items: center;
        position: relative;
        flex-direction: column;
        margin-left: 35px;
        margin-right: 35px;
    }

    /* UI Card */
    .rectangle-container {
        border-radius: 13px;
        background: var(--primary-color);
        flex-shrink: 0;
        overflow: hidden;
        transition: transform 0.3s ease;
        background: var(--primary-color);
        width: 90%;
        max-width: 570px;
        margin: 10px;
        height: 160px;
    }

    .photo img {
        width: 110px;
        height: 110px;
    }

    .text-content {
        flex: 1;
        margin-bottom: 10px;
    }

    .text-content h2 {
        width: 100%;
        flex-shrink: 0;
        color: var(--secondary-color);
        text-align: left;
        font-family: Century Gothic;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: -0.528px;
        margin-bottom: 0px;
        margin-left: 26px;
        margin-top: 17px;
    }

    .text-content p {
        width: 200px;
        flex-shrink: 0;
        color: var(--secondary-color);
        font-family: Century Gothic;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.352px;
        margin-left: 26px;
        margin-top: -57px;
    }

    .arrow {
        display: none;
    }

    .reviews-title h2 {
        font-size: 29px;
        margin-left: 68px;
        margin-top: 190px;
        margin-bottom: 40px;
    }

    .tips {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .tips div {
        width: 200px;
        box-sizing: border-box;
        padding: 0 10px;
        margin-bottom: -10px;
    }

    .tips h3 {
        font-size: 23px;
        margin-top: 10px;
        margin-left: -35px;
        width: 320px;
    }

    .tips p {
        width: 360px;
        font-size: 17px;
        margin-bottom: 10px;
        margin-left: -35px;
    }

    .footer {
        text-align: center;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 460px;
    }

    .footer p {
        font-size: 15px;
        margin-top: 7px;
        color: #fff;
        margin-left: 400px;
        width: 600px;
    }

    .left-line,
    .right-line {
        width: 100%;
        height: 1px;

    }

    .logo img {
        width: 460px;
        margin-left: -360px;
        margin-top: 15px;
    }

    .primary-nav {
        color: var(--primary-color);
    }

    /* Logo on the error page */
    .bodyerror .logo {
        margin-left: 190px;
    }

    /* Burger menu on the error page */
    .bodyerror .burger-menu {
        display: block;
    }

    /* Switch language button on the error page */
    .bodyerror .switch {
        margin-left: 20px;
        margin-top: -200px;
    }



    .secondary-nav {
        display: none;
    }



    .secondary-title-place1,
    .secondary-title-place2,
    .secondary-title-place3 {
        width: 350px;
        height: 56px;
        flex-shrink: 0;
        color: #3D5B16;
        font-family: Century Gothic;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: -0.55px;
        margin-left: 20px;
    }

    .secondary-title-place2 {
        margin-left: -17px;
    }

    .secondary-title-place3 {
        margin-left: 43px;
    }

    .slider-container {
        width: 380px;
        height: 182px;
        flex-shrink: 0;
        margin-left: 55px;
        overflow: hidden;
    }

    .slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .general-description {
        width: 350px;
        height: 274px;
        flex-shrink: 0;
        color: #3D5B16;
        font-family: Century Gothic;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.418px;
        margin-left: 55px;
        margin-top: -380px;
    }



    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-evenly;
        margin-top: 355px;
    }

    .icon img {
        width: 30px;
        height: 23px;
        flex-shrink: 0;
        margin-left: -70px;

    }

    /* Style for the paragraph */
    .icon p {
        width: 284px;
        height: 44px;
        flex-shrink: 0;
        color: #3D5B16;
        font-family: Century Gothic;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: -0.44px;
        margin-top: -7px;
        margin-bottom: -2px;
        font-size: 25px;
    }


    .icon1 p {
        width: 284px;
        height: 44px;
        flex-shrink: 0;
        color: #3D5B16;
        font-family: Century Gothic;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: -0.44px;
        margin-top: 300px;
        font-size: 25px;

    }

    .icon1 img {
        width: 25px;
        height: 25px;
        flex-shrink: 0;
        margin-left: -92px;
        margin-top: 285px;
    }

    .reviews-title1 h1 {
        margin-top: 240px;
        font-size: 29px;
        margin-left: 68px;
        margin-bottom: -80px;
    }


    .prev-button,
    .next-button {
        display: none;
    }


    .logogreen {
        width: 110px;
        height: 28px;
        align-items: center;
        justify-content: center;
        margin-left: 175px;
    }

}